
 *{
    margin-top: 10px;
 }

.circle {
            width: 150px; /* Adjust the width as needed */
            height: 150px; /* Adjust the height as needed */
            border-radius: 50%;
            overflow: hidden; /* Ensure the image stays within the circular shape */
            border: 2px solid #336699; /* Border styling */
        }

  .B{
    display: flex;
  }      

  .bxa{
   
    display: flex;

    gap: 20px;


  }
   .D{
    border: 2px solid black;
    padding: 1%;

   }

   .line1{
    display: flex;
    justify-content: space-between;
   }



   @media screen and (max-width: 950px) {
            .line1, .bxa {
               display: inline-block;
                   width: 100%;
            }
        }

